.showcase {
    background: url(../../assets/showcase.jpg) no-repeat center center/cover;
    height: 80vh;
}

.text {
    fill: none;
    text-align: center;
    color: white;
    font-size: 47px;
    -webkit-text-stroke: 3px white;
}

.heading {
    text-align: center;
    font-size: 100px;
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: transparent;
}

.abc {
    position: relative;
}

.abc:before {
    height: 200px;
    width: 100%;
    content: "Background";
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 40px;
    background-color: #ddd;
    text-align: center;
    font-size: 150px;
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: transparent;
    z-index: -2;
    text-transform: uppercase;
}

.bgtext {
    position: relative;
}

.bgtext:after {

    margin: 3rem;
    content: "";
    position: absolute;
    /* transform: rotate(300deg);
    -webkit-transform: rotate(300deg); */
    color: rgb(187, 182, 182);
    top: 0;
    left: 0;
    z-index: -1;
}